@inherits LayoutComponentBase

@attribute [Authorize]

<style>
    .layout-root {
        min-height: 100vh;
        z-index: 10;
        background: linear-gradient(to bottom, #4a505c 150px, transparent 150px);
    }

    @if (_zoomedIn)
    {
        @_zoomedInStyle
    }
    else
    {
        @_zoomedOutStyle
    }

    .nav-menu {
        background-color: var(--mud-palette-dark);
        width: 80px;
        flex-shrink: 0;
        height: fit-content;
        margin-left: -40px
    }

    .header-bar {
        background-color: white;
        flex: 0 0 auto;
    }

    .header-title {
        font-size: 23px;
    }

    .layout-body {
        flex-grow: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
    }
    
    .notification-paper{
        background-color: var(--mud-palette-success);
        color: white;
        cursor: pointer;
    }
    
    .notification-paper:hover{
        background-color: var(--mud-palette-success-darken);
    }
</style>

<MudThemeProvider Theme="_theme"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudStack AlignItems="AlignItems.Center"
          Class="layout-root">

    <MudStack Class="layout-container">
        <MudPaper Width="100%" Elevation="10" Class="layout-paper">
            <MudStack Row Spacing="0" Style="width: 100%;">
                <NavMenu Class="nav-menu"/>
                
                <MudStack Spacing="0" Class="flex-grow-1" Style="width:calc(100% - 40px);">
                    <MudStack Row Class="pt-10 ps-6 pb-2 header-bar relative">
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.h4">@_userFullName</MudText>
                            <MudText Class="mud-text-disabled">@_userGroup</MudText>
                            <MudText Class="header-title">@_userOrganisation</MudText>
                        </MudStack>

                        <MudSpacer/>

                        <MudStack Spacing="0" AlignItems="AlignItems.End" Justify="Justify.FlexEnd">
                            <MudBadge Content="@_userNotifications.Count"
                                      Color="Color.Primary"
                                      Overlap="true"
                                      Class="mx-6 my-4"
                                      Visible="_userNotifications.Any()">
                                <MudIconButton Icon="@Icons.Material.Filled.Email"
                                               Color="@(_userNotifications.Any() ? Color.Success : Color.Default)"
                                               Size="Size.Large"
                                               OnClick="() => _notificationsVisible = !_notificationsVisible">
                                </MudIconButton>
                                <MudPopover OverflowBehavior="OverflowBehavior.FlipNever"
                                            Open="@_notificationsVisible"
                                            AnchorOrigin="Origin.BottomRight"
                                            TransformOrigin="Origin.TopRight"
                                            Class="pa-4"
                                            Elevation="20">
                                    <MudStack Class="mud-width-full"
                                              AlignItems="AlignItems.Center"
                                              Justify="Justify.SpaceBetween"
                                              Row>
                                        @if (_userNotifications.Any())
                                        {
                                            <MudText Typo="Typo.body2">У вас @_userNotifications.Count новых уведомлений</MudText>
                                        }
                                        else
                                        {
                                            <MudText Typo="Typo.body2">У вас нет новых уведомлений</MudText>
                                        }
                                        <MudIconButton Icon="@Icons.Material.Filled.Close"
                                                       OnClick="() => _notificationsVisible = false"/>
                                    </MudStack>
                                    @foreach (var notification in _userNotifications)
                                    {
                                        <MudPaper Elevation="10"
                                                  Outlined="true"
                                                  MinWidth="400px"
                                                  Class="pa-2 mb-2 notification-paper"
                                                  @onclick="() => NotificationClick(notification)">
                                            <MudStack Row
                                                      AlignItems="AlignItems.Center">
                                                <MudIcon Icon="@Icons.Material.Filled.Warning"
                                                         Size="Size.Large"
                                                         Color="Color.Default"/>
                                                <MudStack Spacing="0">
                                                    <MudText Typo="Typo.body2">@notification.NotificationTypeName</MudText>
                                                    <MudText Typo="Typo.body2">Номер карточки: @notification.DeclarationId</MudText>
                                                    <MudText Typo="Typo.body2">@notification.Date.ToString("g")</MudText>
                                                </MudStack>
                                            </MudStack>
                                        </MudPaper>
                                    }
                                </MudPopover>
                            </MudBadge>
                        </MudStack>
                        <MudToggleIconButton ToggledChanged="ZoomToggledChanged"
                                             Toggled="_zoomedIn"
                                             Icon="@Icons.Material.Filled.ZoomInMap"
                                             ToggledIcon="@Icons.Material.Filled.ZoomOutMap"
                                             Class="absolute"
                                             Style="right:0;top:0"
                                             Size="Size.Large"
                                             title="@(_zoomedIn ? "Увеличить интерфейс" : "Уменьшить интерфейс")" />
                    </MudStack>

                    <div class="layout-body">
                        <CascadingValue Name="IsZoomed" Value="_zoomedIn">
                            @Body
                        </CascadingValue>
                    </div>
                </MudStack>
            </MudStack>
        </MudPaper>
    </MudStack>
</MudStack>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>